<%- include('./head.ejs') %>

<body>
  <header>
    <!--<h1 class="text-shadows">Mon &nbsp dossier &nbsp professionnel &nbsp &#x1F60A</h>-->
        <!--<div class="logo-container">
            <img src="/img/logo-html.png" alt="logo-html" class="html-logo" />
            <img src="/img/logo-css.png" alt="logo-css" class="css-logo" />
            <img src="/img/logo-javascript.png" alt="logo-javascript" class="javascript-logo" />
            <img src="/img/logo-nodeJS.png" alt="logo-nodeJS" class="nodeJS-logo" />
            <img src="/img/logo-postgreSQL.png" alt="logo-postegreSQL" class="postegreSQL-logo" />
            <img src="/img/logo-react.png" alt="logo-react" class="react-logo" />
            <img src="/img/logo-github.png" alt="logo-github" class="github-logo" />
        </div>-->
  </header>
</body>
